<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Form: affichage</title>
</head>

<body>
  <table border="1">
    <tr>
      <th>Affichage par default</th>
      <th>*********************</th>
      <th>Affichage as_p</th>
      <th>*********************</th>
      <th>Affichage as_ul</th>
      <th>*********************</th>
      <th>Affichage as_table</th>
    </tr>
    <tr>
      <td>
        <form action="" method="post">
          {{form}}
          <p>
            <input type="submit" value="submit">
          </p>
        </form>
      </td>
      <td>**********************</td>
      <td>
        <form action="" method="post">
          {{form.as_p}}
          <p>
            <input type="submit" value="submit">
          </p>
        </form>
      </td>
      <td>**********************</td>
      <td>
        <form action="" method="post">
          {{form.as_ul}}
          <p>
            <input type="submit" value="submit">
          </p>
        </form>
      </td>
      <td>**********************</td>
      <td>
        <form action="" method="post">
          {{form.as_table}}
          <p>
            <input type="submit" value="submit">
          </p>
        </form>
      </td>
      <td>**********************</td>
    </tr>
  </table>
</body>

</html>