<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Languages des templates</title>
</head>

<body>
  <h1>Essentiel sur Langage des Templates</h1>
  <h2><a href = "{% url 'view_static' %}">Utilisation des fichiers statiques css, js, images</a></h2>
  <h2><a href="{% url 'view_variables' %}">Affichage de Variables</a></h2>
  <h2><a href="{% url 'view_attributs' %}">Affichage de Attributs d'un objets</a></h2>
  <h2><a href="{% url 'view_alternative' %}">Utilisation des Alternatives</a></h2>
  <h2><a href="{% url 'view_boucle' %}">Utilisation des Boucles</a></h2>
</body>

</html>